<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>
        <link rel="shortcut icon" href="">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./public/css/style.css">
    </head>
    <body>

        <!-- Nav area -->
        <h1 class='nav_area'>Employees</h1>
        <div class="container shrink">
            <div id="emp_id"></div>
            <!-- Content of card -->
            <div class="content-block padd-left">
                <div class="company-name-block">
                    <img class="company-name" src="./public/img/company-name.png" alt="#">
                </div>
                  
                <div id="emp_name"></div>
                <div id="emp_position"></div>
                
                <!-- <div class=""> -->
                    <div class="oh contact_block">
                        <span class="contact_info">Phone: </span><span id="emp_phone"></span>
                    </div> 
                    <div class="oh contact_block">
                        <span class="contact_info">Email: </span><span id="emp_email"></span>
                    </div> 
                    <div class="logo">
                        <img class="logo" src="./public/img/company-flower-logo.png" alt="#">
                    </div>
                <!-- </div> --> 
            </div>

            <!-- Dropdown here -->
            <div class="dropdown">
                <button id='EMP-dropdown' class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
            </div>       
        </div>


        
        <!-- here's round 2 -->
        <!-- <div class="container">
                <div id="emp_id"></div>
                <!-- Content of card --
                <div class="content-block">
                    <h2 class="company-name"></h2>        
                    <div id="emp_name"></div>
                    <div id="emp_position"></div>
                    
                    <div class="contact_block">
                        <div class="contact_info">Phone: <span id="emp_phone"></span></div>
                        <div class="contact_info">Email: <span id="emp_email"></span></div>
                    </div>
                </div>
                <!-- Dropdown here --
                <div class="dropdown">
                    <button id='EMP-dropdown' class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
                </div>       
            </div> -->
        
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./public/js/main.js"></script>
</html>
