.nav_area {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px 0;
}

.content-block {
    margin: 15px;
    padding: 15px;
    border: 1px solid gray;
}

/* Employee Info */
#emp_id {
    color: red;
}

#emp_name {
    color: greenyellow;    
}

#emp_position {
    color: green;    
}

#emp_phone {
    color: purple;
}

#emp_email {
    color: darkblue;
}